@import '~@fluentui/react/dist/sass/References.scss';

.firstwebpart {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.container {
  width: 607px;
  height: 829px;
  margin: auto;
  margin-top: 75px;
  border-radius: 12px;
  background-color: #130754; 
}

.topbar{
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}

.topbar input {
  display: flex;
  width: 362px;
  height: 78px;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #626262;
  font-size: 20px;
  font-weight: 400;
}

.searchicon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background: #ebfffc;
  border-radius: 40px;
  cursor: pointer;
}

.weatherimage {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}

.weathertemp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120px;
  font-weight: 400;
}

.weatherlocation {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 400;
}

.datacontainer {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  font-size: 34 px;
  font-weight: 400;
} 

.text {
  font-size: 20px;
  font-weight:400;
}

.timeanddate
{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}